.hoverPanel {
  position: absolute;
  top: 60px;
  left: 50px;
  height: 780px;
  width: 910px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.selectionSection {
  flex: 1;
}
